/.idea/compiler.xml
/.idea/dataSources.local.xml
/.idea/dataSources.xml
/.idea/jarRepositories.xml
/.idea/jpa-buddy.xml
/.idea/modules.xml
/.idea/sqldialects.xml
/.idea/uiDesigner.xml
/.idea/workspace.xml
/.idea/copilot/chatSessions/xd.lck
/.idea/copilot/chatSessions/00000000000.xd
/.idea/copilot/chatSessions/blobs/version

.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr
