/.idea/compiler.xml
/.idea/dataSources.local.xml
/.idea/dataSources.xml
/.idea/jarRepositories.xml
/.idea/jpa-buddy.xml
/.idea/modules.xml
/.idea/sqldialects.xml
/.idea/uiDesigner.xml
/.idea/workspace.xml
/.idea/copilot

.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr
/target/classes/eus/ehu/shareTrip/uicontrollers/MainGUIController$Window.class
/target/classes/module-info.class
/target/classes/ehu/shareTrip/*
/target/classes/eus/ehu/shareTrip/businessLogic/BlFacade.class
/target/classes/eus/ehu/shareTrip/businessLogic/BlFacadeImplementation.class
/target/classes/eus/ehu/shareTrip/configuration/Config.class
/target/classes/eus/ehu/shareTrip/ui/ApplicationLauncher.class
/target/classes/eus/ehu/shareTrip/uicontrollers/Controller.class
/target/classes/eus/ehu/shareTrip/ui/CreateRide.fxml
/target/classes/eus/ehu/shareTrip/uicontrollers/CreateRideController$1$1.class
/target/classes/eus/ehu/shareTrip/uicontrollers/CreateRideController$1.class
/target/classes/eus/ehu/shareTrip/uicontrollers/CreateRideController.class
/target/classes/eus/ehu/shareTrip/dataAccess/DataAccess.class
/target/classes/eus/ehu/shareTrip/utils/Dates.class
/target/classes/eus/ehu/shareTrip/domain/Driver.class
/target/classes/Etiquetas_en.properties
/target/classes/Etiquetas_es.properties
/target/classes/Etiquetas_eus.properties
/.idea/dataSources/fcafb8f0-4311-48ed-b99b-e6235f57641c.xml
/target/classes/hibernate.cfg.xml
/.idea/dataSources/fcafb8f0-4311-48ed-b99b-e6235f57641c/storage_v2/_src_/database/SHARETRIP.ZMzaRw/schema/INFORMATION_SCHEMA.NBgcMw.meta
/target/classes/log4j2.xml
/target/classes/eus/ehu/shareTrip/ui/Login.fxml
/target/classes/eus/ehu/shareTrip/uicontrollers/LoginController.class
/target/classes/eus/ehu/shareTrip/ui/MainGUI$Window.class
/target/classes/eus/ehu/shareTrip/ui/MainGUI.class
/target/classes/eus/ehu/shareTrip/uicontrollers/MainGUIController.class
/.idea/dataSources/fcafb8f0-4311-48ed-b99b-e6235f57641c/storage_v2/_src_/database/SHARETRIP.ZMzaRw/schema/PUBLIC.aaZQjQ.meta
/target/classes/eus/ehu/shareTrip/ui/QueryRides.fxml
/target/classes/eus/ehu/shareTrip/uicontrollers/QueryRidesController$1$1.class
/target/classes/eus/ehu/shareTrip/uicontrollers/QueryRidesController$1.class
/target/classes/eus/ehu/shareTrip/uicontrollers/QueryRidesController$2.class
/target/classes/eus/ehu/shareTrip/uicontrollers/QueryRidesController.class
/target/classes/eus/ehu/shareTrip/domain/Ride.class
/target/classes/eus/ehu/shareTrip/exceptions/RideAlreadyExistException.class
/target/classes/eus/ehu/shareTrip/exceptions/RideMustBeLaterThanTodayException.class
/.idea/dataSources/fcafb8f0-4311-48ed-b99b-e6235f57641c/storage_v2/_src_/database/SHARETRIP.ZMzaRw.meta
/target/classes/eus/ehu/shareTrip/ui/SignIn.fxml
/target/classes/eus/ehu/shareTrip/uicontrollers/SignInController.class
/target/classes/eus/ehu/shareTrip/ui/SignUp.fxml
/target/classes/eus/ehu/shareTrip/uicontrollers/SignUpController.class
/target/classes/eus/ehu/shareTrip/domain/Traveler.class
/target/classes/eus/ehu/shareTrip/configuration/UtilDate.class
